# Startup Data extraction and processing

#### Extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

##### Since AI and DS startups are growing, this script tried to collect data of unicorn start ups inin the world.
##### Moreover, the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD is also extracted.
- Question 1: how many unicorn start ups each of these 10 largest economies have?
- Question 2: is there a relation between a large economy and being able to grow as a start up?
- Question 3: Which countries have the most AI unicorns?

### Importing Required Libraries
_Wall required libraries in one place_

In [51]:
##!pip install lxml
!pip install dataprep

^C
Collecting dataprep
  Downloading dataprep-0.4.1-py3-none-any.whl (3.5 MB)
     ---------------------------------------- 3.5/3.5 MB 4.9 MB/s eta 0:00:00
Requirement already satisfied: aiohttp<4.0,>=3.6 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from dataprep) (3.9.5)
Collecting bokeh<3,>=2
  Downloading bokeh-2.4.3-py3-none-any.whl (18.5 MB)
     ---------------------------------------- 18.5/18.5 MB 5.0 MB/s eta 0:00:00
Collecting bottleneck<2.0,>=1.3
  Downloading Bottleneck-1.4.0-cp311-cp311-win_amd64.whl (111 kB)
     -------------------------------------- 111.6/111.6 kB 6.3 MB/s eta 0:00:00
Collecting dask[array,dataframe,delayed]<3.0,>=2.25
  Downloading dask-2.30.0-py3-none-any.whl (848 kB)
     -------------------------------------- 848.4/848.4 kB 5.4 MB/s eta 0:00:00
Collecting flask<2.0.0,>=1.1.4
  Downloading Flask-1.1.4-py2.py3-none-any.whl (94 kB)
     ---------------------------------------- 94.6/94.6 kB 5.3 MB/s eta 0:00:00
Collecting flask_cors<4.0.0,>=3.0.10
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Collecting ipywidgets<8.0,>=7.5
  Downloading ipywidgets-7.8.3-py2.py3-none-any.whl (124 kB)
     -------------------------------------- 124.2/124.2 kB 3.6 MB/s eta 0:00:00
Collecting jinja2<3.0,>=2.11
  Downloading Jinja2-2.11.3-py2.py3-none-any.whl (125 kB)
     -------------------------------------- 125.7/125.7 kB 3.6 MB/s eta 0:00:00
Collecting jsonpath-ng<2.0,>=1.5
  Downloading jsonpath_ng-1.6.1-py3-none-any.whl (29 kB)
Collecting levenshtein<0.13.0,>=0.12.0
  Downloading levenshtein-0.12.0.tar.gz (54 kB)
     ---------------------------------------- 54.9/54.9 kB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting metaphone<0.7,>=0.6
  Downloading Metaphone-0.6.tar.gz (14 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting nltk<4.0,>=3.5
  Downloading nltk-3.8.2-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.0 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from dataprep) (1.26.4)
Collecting pandas<2.0,>=1.1
  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 4.4 MB/s eta 0:00:00
Collecting pydantic<2.0,>=1.6
  Downloading pydantic-1.10.17-cp311-cp311-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 5.2 MB/s eta 0:00:00
Collecting python-stdnum<2.0,>=1.16
  Downloading python_stdnum-1.20-py2.py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 3.9 MB/s eta 0:00:00
Collecting regex<2021.0.0,>=2020.10.15
  Downloading regex-2020.11.13.tar.gz (694 kB)
     -------------------------------------- 694.6/694.6 kB 5.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scipy<2,>=1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from dataprep) (1.14.0)
Requirement already satisfied: tqdm<5.0,>=4.48 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from dataprep) (4.66.2)
Collecting usaddress<0.6.0,>=0.5.10
  Downloading usaddress-0.5.10-py2.py3-none-any.whl (63 kB)
     ---------------------------------------- 63.9/63.9 kB 1.2 MB/s eta 0:00:00
Collecting varname<0.9.0,>=0.8.1
  Downloading varname-0.8.3-py3-none-any.whl (21 kB)
Collecting wordcloud<2.0,>=1.8
  Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl (300 kB)
     -------------------------------------- 300.2/300.2 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.9.4)
Requirement already satisfied: packaging>=16.8 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from bokeh<3,>=2->dataprep) (23.2)
Requirement already satisfied: pillow>=7.1.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from bokeh<3,>=2->dataprep) (10.4.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from bokeh<3,>=2->dataprep) (6.0.1)
Requirement already satisfied: tornado>=5.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from bokeh<3,>=2->dataprep) (6.4)
Requirement already satisfied: typing-extensions>=3.10.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from bokeh<3,>=2->dataprep) (4.11.0)
Collecting toolz>=0.8.2
  Downloading toolz-0.12.1-py3-none-any.whl (56 kB)
     ---------------------------------------- 56.1/56.1 kB ? eta 0:00:00
Collecting partd>=0.3.10
  Downloading partd-1.4.2-py3-none-any.whl (18 kB)
Collecting fsspec>=0.6.0
  Downloading fsspec-2024.6.1-py3-none-any.whl (177 kB)
     -------------------------------------- 177.6/177.6 kB 5.4 MB/s eta 0:00:00
Collecting cloudpickle>=0.2.2
  Downloading cloudpickle-3.0.0-py3-none-any.whl (20 kB)
Collecting Werkzeug<2.0,>=0.15
  Downloading Werkzeug-1.0.1-py2.py3-none-any.whl (298 kB)
     -------------------------------------- 298.6/298.6 kB 4.6 MB/s eta 0:00:00
Collecting itsdangerous<2.0,>=0.24
  Downloading itsdangerous-1.1.0-py2.py3-none-any.whl (16 kB)
Collecting click<8.0,>=5.1
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     ---------------------------------------- 82.8/82.8 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: Six in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.16.0)
Requirement already satisfied: comm>=0.1.3 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.2)
Collecting ipython-genutils~=0.2.0
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.14.3)
Collecting widgetsnbextension~=3.6.8
  Downloading widgetsnbextension-3.6.8-py2.py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 4.9 MB/s eta 0:00:00
Requirement already satisfied: ipython>=4.0.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (8.24.0)
Collecting jupyterlab-widgets<3,>=1.0.0
  Downloading jupyterlab_widgets-1.1.9-py3-none-any.whl (237 kB)
     -------------------------------------- 238.0/238.0 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jinja2<3.0,>=2.11->dataprep) (2.1.5)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ---------------------------------------- 49.6/49.6 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: setuptools in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from levenshtein<0.13.0,>=0.12.0->dataprep) (65.5.0)
Requirement already satisfied: joblib in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from nltk<4.0,>=3.5->dataprep) (1.4.2)
Collecting nltk<4.0,>=3.5
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 4.8 MB/s eta 0:00:00
  Downloading nltk-3.8-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.1 MB/s eta 0:00:00
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.0 MB/s eta 0:00:00
  Downloading nltk-3.6.7-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.3 MB/s eta 0:00:00
  Downloading nltk-3.6.6-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.2 MB/s eta 0:00:00
  Downloading nltk-3.6.5-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.1 MB/s eta 0:00:00
  Downloading nltk-3.6.3-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 5.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.0,>=1.1->dataprep) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from pandas<2.0,>=1.1->dataprep) (2024.1)
Requirement already satisfied: colorama in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from tqdm<5.0,>=4.48->dataprep) (0.4.6)
Collecting future>=0.14
  Downloading future-1.0.0-py3-none-any.whl (491 kB)
     -------------------------------------- 491.3/491.3 kB 4.4 MB/s eta 0:00:00
Collecting probableparsing
  Downloading probableparsing-0.0.1-py2.py3-none-any.whl (3.1 kB)
Collecting python-crfsuite>=0.7
  Downloading python_crfsuite-0.9.10-cp311-cp311-win_amd64.whl (155 kB)
     -------------------------------------- 155.8/155.8 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: asttokens<3.0.0,>=2.0.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from varname<0.9.0,>=0.8.1->dataprep) (2.4.1)
Collecting executing<0.9.0,>=0.8.3
  Downloading executing-0.8.3-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pure_eval<1.0.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.2.2)
Requirement already satisfied: matplotlib in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from wordcloud<2.0,>=1.8->dataprep) (3.9.1)
Requirement already satisfied: decorator in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.17.2)
Requirement already satisfied: stack-data in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.6.3)
Collecting locket
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: notebook>=4.4.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (7.1.3)
Requirement already satisfied: idna>=2.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (3.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (3.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (2.14.0)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (2.27.1)
Requirement already satisfied: jupyterlab<4.2,>=4.1.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (4.1.8)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (0.2.4)
Requirement already satisfied: wcwidth in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.13)
Collecting stack-data
  Downloading stack_data-0.6.2-py3-none-any.whl (24 kB)
  Downloading stack_data-0.6.1-py3-none-any.whl (24 kB)
  Downloading stack_data-0.6.0-py3-none-any.whl (24 kB)
  Downloading stack_data-0.5.1-py3-none-any.whl (24 kB)
Requirement already satisfied: anyio>=3.1.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (4.3.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (23.1.0)
Collecting jupyter-server<3,>=2.4.0
  Downloading jupyter_server-2.14.2-py3-none-any.whl (383 kB)
     -------------------------------------- 383.6/383.6 kB 4.8 MB/s eta 0:00:00
  Downloading jupyter_server-2.14.1-py3-none-any.whl (383 kB)
     -------------------------------------- 383.4/383.4 kB 4.8 MB/s eta 0:00:00
  Downloading jupyter_server-2.13.0-py3-none-any.whl (383 kB)
     -------------------------------------- 383.2/383.2 kB 6.0 MB/s eta 0:00:00
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (8.6.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (5.7.2)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (0.10.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (0.5.3)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (7.16.4)
Requirement already satisfied: nbformat>=5.3.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (5.10.4)
Requirement already satisfied: overrides in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (7.7.0)
Requirement already satisfied: prometheus-client in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (0.20.0)
Requirement already satisfied: pywinpty in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (2.0.13)
Requirement already satisfied: pyzmq>=24 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (26.0.2)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: websocket-client in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<4.2,>=4.1.1->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<4.2,>=4.1.1->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (0.27.0)
Requirement already satisfied: ipykernel>=6.5.0 in c:\users\eli\appdata\local\programs\python\python311\lib\site-packages (from jupyterlab<4.2,>=4.1.1->notebook>=4.4.1->widgetsnbextension~=3.6.8->ipywidgets<8.0,>=7.5->dataprep) (6.29.4)
Collecting jupyterlab<4.2,>=4.1.1
  Downloading jupyterlab-4.1.7-py3-none-any.whl (11.4 MB)
     ---------------------------------------- 11.4/11.4 MB 3.6 MB/s eta 0:00:00
  Downloading jupyterlab-4.1.6-py3-none-any.whl (11.4 MB)
     ---------------------------------------- 11.4/11.4 MB 5.5 MB/s eta 0:00:00
  Downloading jupyterlab-4.1.5-py3-none-any.whl (11.4 MB)
     ---------------------------------------- 11.4/11.4 MB 4.9 MB/s eta 0:00:00
  Downloading jupyterlab-4.1.4-py3-none-any.whl (11.4 MB)
     ---------------------------------------- 11.4/11.4 MB 4.6 MB/s eta 0:00:00
  Downloading jupyterlab-4.1.3-py3-none-any.whl (11.4 MB)
     ---------------------------------------- 11.4/11.4 MB 4.8 MB/s eta 0:00:00

  DEPRECATION: regex is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  error: subprocess-exited-with-error

  Running setup.py install for regex did not run successfully.
  exit code: 1

  [15 lines of output]
  running install
  C:\Users\Eli\AppData\Local\Programs\Python\Python311\Lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
    warnings.warn(
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-311
  creating build\lib.win-amd64-cpython-311\regex
  copying regex_3\__init__.py -> build\lib.win-amd64-cpython-311\regex
  copying regex_3\regex.py -> build\lib.win-amd64-cpython-311\regex
  copying regex_3\_regex_core.py -> build\lib.win-amd64-cpython-311\regex
  copying regex_3\test_regex.py -> build\lib.win-amd64-cpython-311\regex
  running build_ext
  building 'regex._regex' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

Encountered error while trying to install package.

regex

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [79]:
import numpy as np
import pandas as pd


#  warnings generated by code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

## Largest economies

In [80]:
#url of the economies 
ec_url="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [81]:
# read HTML tables from URL
ec_tables = pd.read_html(ec_url)
# extract the wealth data
ec_df = ec_tables[3]

ec_df
##we get country, year, and estimate

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [82]:
# Replace the column headers with column numbers
ec_df.columns = range(ec_df.shape[1])

ec_df

,0,1,2,3,4,5,6,7
0,World,—,105568776,2023,100562011,2022,96698005,2021
1,United States,Americas,26854599,2023,25462700,2022,23315081,2021
2,China,Asia,19373586,[n 1]2023,17963171,[n 3]2022,17734131,[n 1]2021
3,Japan,Asia,4409738,2023,4231141,2022,4940878,2021
4,Germany,Europe,4308854,2023,4072192,2022,4259935,2021
...,...,...,...,...,...,...,...,...
209,Anguilla,Americas,—,—,—,—,303,2021
210,Kiribati,Oceania,248,2023,223,2022,227,2021
211,Nauru,Oceania,151,2023,151,2022,155,2021
212,Montserrat,Americas,—,—,—,—,72,2021
213,Tuvalu,Oceania,65,2023,60,2022,60,2021

In [83]:
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
ec_df = ec_df[[0,2,3]]
ec_df

                 0          2          3
0            World  105568776       2023
1    United States   26854599       2023
2            China   19373586  [n 1]2023
3            Japan    4409738       2023
4          Germany    4308854       2023
..             ...        ...        ...
209       Anguilla          —          —
210       Kiribati        248       2023
211          Nauru        151       2023
212     Montserrat          —          —
213         Tuvalu         65       2023

[214 rows x 3 columns]

In [84]:
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
ec_df = ec_df.iloc[1:11,:]
# Assign column names as "Country" and "GDP (Million USD)" and year
ec_df.columns = ['Country','GDP (Million USD)', 'Year']

In [85]:
ec_df

           Country GDP (Million USD)       Year
1    United States          26854599       2023
2            China          19373586  [n 1]2023
3            Japan           4409738       2023
4          Germany           4308854       2023
5            India           3736882       2023
6   United Kingdom           3158938       2023
7           France           2923489       2023
8            Italy           2169745       2023
9           Canada           2089672       2023
10          Brazil           2081235       2023

In [113]:
# Assign column names as "Country" and "GDP (Million USD)"
ec_df.sort_values(by=['GDP (Million USD)'])
ec_df['Year'] = ec_df['Year'].str.replace('[n 1]', '', regex=False)
ec_df

           Country GDP (Million USD)  Year
1    United States          26854599  2023
2            China          19373586  2023
3            Japan           4409738  2023
4          Germany           4308854  2023
5            India           3736882  2023
6   United Kingdom           3158938  2023
7           France           2923489  2023
8            Italy           2169745  2023
9           Canada           2089672  2023
10          Brazil           2081235  2023

In [87]:
# Start ups 
su_url = 'https://en.wikipedia.org/wiki/List_of_unicorn_startup_companies'

# read HTML tables from URL
su_tables = pd.read_html(su_url)

# extract the table (which contains the startup data)
su_df = su_tables[2]
su_df.head()
#su_df = su_df.sort_values(by="Employees", ascending=False)

,Company,Valuation (US$ billions),Valuation date,Industry,Country/ countries,Founder(s)
0,SpaceX,210,June 2024 [20],Aerospace,United States,Elon Musk
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States,"Sam Altman, Greg Brockman, Ilya Sutskever"
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates,Changpeng Zhao
3,Shein,66,May 2023 [13],E-commerce,China,Chris Xu
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland,Patrick and John Collison

In [88]:
# Replace the column headers with column numbers
su_df.columns = range(su_df.shape[1])
su_df

,0,1,2,3,4,5
0,SpaceX,210,June 2024 [20],Aerospace,United States,Elon Musk
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States,"Sam Altman, Greg Brockman, Ilya Sutskever"
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates,Changpeng Zhao
3,Shein,66,May 2023 [13],E-commerce,China,Chris Xu
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland,Patrick and John Collison
...,...,...,...,...,...,...
672,Neo Financial,1,May 2022[594],Financial technology,Canada,"Andrew Chau, Jeff Adamson, Kris Read"
673,Physics Wallah,1.1,June 2022[595],Educational technology,India,Alakh Pandey
674,Stytch,1,November 2021[596],Cybersecurity,United States,"Reed McGinley-Stempel, Julianna Lamb"
675,Papara,1,July 2023[597],Fintech,Turkey,Ahmed Faruk Karslı
676,YouniteD,1.1,December 2022[598],Financial services,France,"Charles Egly, Geoffroy Guigou"

In [89]:
# Retain columns with index 0 and 2 (name of Company, Last valuation (US$ billions), Valuation date,Industry, Country)
su_df_sub = su_df.iloc[:, 0:5]
su_df_sub

,0,1,2,3,4
0,SpaceX,210,June 2024 [20],Aerospace,United States
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates
3,Shein,66,May 2023 [13],E-commerce,China
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland
...,...,...,...,...,...
672,Neo Financial,1,May 2022[594],Financial technology,Canada
673,Physics Wallah,1.1,June 2022[595],Educational technology,India
674,Stytch,1,November 2021[596],Cybersecurity,United States
675,Papara,1,July 2023[597],Fintech,Turkey
676,YouniteD,1.1,December 2022[598],Financial services,France

In [90]:
# Assign column names as Company, Last valuation (US$ billions), Valuation date,Industry, Country
su_df_sub.columns = ['Company','US$ billions', 'Valuation date', 'Industry','Country']
su_df_sub

,Company,US$ billions,Valuation date,Industry,Country
0,SpaceX,210,June 2024 [20],Aerospace,United States
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates
3,Shein,66,May 2023 [13],E-commerce,China
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland
...,...,...,...,...,...
672,Neo Financial,1,May 2022[594],Financial technology,Canada
673,Physics Wallah,1.1,June 2022[595],Educational technology,India
674,Stytch,1,November 2021[596],Cybersecurity,United States
675,Papara,1,July 2023[597],Fintech,Turkey
676,YouniteD,1.1,December 2022[598],Financial services,France

In [91]:
## First, retrieve the countries and be sure they are unique
su_Country = su_df_sub["Country"]
su_Country = su_Country.unique()
su_Country

array(['United States', 'United Arab Emirates', 'China',
       'United States and Ireland', 'Australia', 'United Kingdom',
       'Turkey', 'Ukraine[39]/United States[40]', 'China / Hong Kong',
       'Sweden', 'Germany', 'India', 'Seychelles', 'Hong Kong / China',
       'India / Cayman Islands [66]', 'Portugal / United States',
       'United States[72]', 'Mexico', 'Estonia / France', 'Israel',
       'Canada', 'India / United States', 'South Korea', 'Netherlands',
       'France', 'Australia / Hong Kong', 'China / United States',
       'Colombia', 'United Kingdom / United States', 'Belgium', 'Georgia',
       'Hong Kong', 'Denmark', 'France / United States', 'Lithuania',
       'Austria', 'Brazil', 'Israel / United States', 'Japan',
       'Argentina', 'Indonesia', 'Vietnam', 'Brazil / United States',
       'Bangladesh', 'Germany / France', 'United States / Israel',
       'Argentina / United States', 'Finland', 'Philippines', 'Nigeria',
       'Portugal / United States [72]', 'Switzerland',
       'Senegal / United States', 'Ireland', 'Norway',
       'Nigeria/ United States', 'Spain', 'Chile', 'Thailand',
       'Spain / United States', 'Germany / Russia', 'Czech Republic',
       'Singapore', 'Singapore / Israel',
       'United States, United Kingdom and Europe',
       'Singapore / Switzerland', 'Malaysia', 'Canada / United States',
       'Nigeria / United States', 'Croatia', 'India / Singapore',
       'Luxembourg', 'Armenia / United States', 'Estonia / United States',
       'Latvia', 'Bulgaria'], dtype=object)

Some of the start ups are based in two different countries, we have to divide them so we will have a cleaner data.

### Cleaning the data

In [92]:
su_df_sub

,Company,US$ billions,Valuation date,Industry,Country
0,SpaceX,210,June 2024 [20],Aerospace,United States
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates
3,Shein,66,May 2023 [13],E-commerce,China
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland
...,...,...,...,...,...
672,Neo Financial,1,May 2022[594],Financial technology,Canada
673,Physics Wallah,1.1,June 2022[595],Educational technology,India
674,Stytch,1,November 2021[596],Cybersecurity,United States
675,Papara,1,July 2023[597],Fintech,Turkey
676,YouniteD,1.1,December 2022[598],Financial services,France

In [115]:
# Split the 'Valuation date' column on the '[' character
su_df_sub_new = su_df_sub['Valuation date'].str.split('[', expand=True)
# Extract the year from the first part of the split
su_df_sub['Year'] = su_df_sub_new[0].str.split().str[-1]
su_df_sub

,Company,US$ billions,Valuation date,Industry,Country,Year
0,SpaceX,210,June 2024 [20],Aerospace,United States,2024
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States,2023
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates,2021
3,Shein,66,May 2023 [13],E-commerce,China,2023
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland,2023
...,...,...,...,...,...,...
672,Neo Financial,1,May 2022[594],Financial technology,Canada,2022
673,Physics Wallah,1.1,June 2022[595],Educational technology,India,2022
674,Stytch,1,November 2021[596],Cybersecurity,United States,2021
675,Papara,1,July 2023[597],Fintech,Turkey,2023
676,YouniteD,1.1,December 2022[598],Financial services,France,2022

In [125]:
df_mix = su_df_sub[su_df_sub['Country'].str.contains('and|/|,')]
df_mix

,Company,US$ billions,Valuation date,Industry,Country,Year
4,Stripe,50,March 2023 [13],Financial services,United States and Ireland,2023
24,Grammarly,13,November 2021[38],Collaborative software,Ukraine[39]/United States[40],2021
31,SenseTime,12,January 2021[46],Artificial intelligence,China / Hong Kong,2021
48,Lalamove,10,January 2021[63],Supply chain management,Hong Kong / China,2021
50,Polygon Technology,10,February 2022[65],"Blockchain, Web3",India / Cayman Islands [66],2022
...,...,...,...,...,...,...
605,Redis Labs,1+,August 2020[546],Software,Israel / United States,2020
642,volocopter,1+,March 2021[579],Transportation,Germany / France,2021
654,Zenoti,1+,December 2020[585],Software company,India / United States,2020
659,LINE MAN Wongnai,1+,September 2022[136],"E-commerce, Food delivery",Thailand,2022
666,Scandit,1,February 2022[590],Software,Switzerland,2022

In [124]:
df_single = su_df_sub[~su_df_sub['Country'].str.contains('and|/|,')]
df_single

,Company,US$ billions,Valuation date,Industry,Country,Year
0,SpaceX,210,June 2024 [20],Aerospace,United States,2024
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States,2023
2,Binance,80-90,September 2021[13],Cryptocurrency,United Arab Emirates,2021
3,Shein,66,May 2023 [13],E-commerce,China,2023
5,Databricks,43,September 2023[13],Software,United States,2023
...,...,...,...,...,...,...
672,Neo Financial,1,May 2022[594],Financial technology,Canada,2022
673,Physics Wallah,1.1,June 2022[595],Educational technology,India,2022
674,Stytch,1,November 2021[596],Cybersecurity,United States,2021
675,Papara,1,July 2023[597],Fintech,Turkey,2023
676,YouniteD,1.1,December 2022[598],Financial services,France,2022

In [128]:
ec_df

           Country GDP (Million USD)  Year
1    United States          26854599  2023
2            China          19373586  2023
3            Japan           4409738  2023
4          Germany           4308854  2023
5            India           3736882  2023
6   United Kingdom           3158938  2023
7           France           2923489  2023
8            Italy           2169745  2023
9           Canada           2089672  2023
10          Brazil           2081235  2023

# Economy Analysis
- Question 1: how many unicorn start ups each of these 10 largest economies have?

In [137]:
# Single country
df_merged_ec = df_single.merge(ec_df, on='Country', how='inner')
df_merged_ec

,Company,US$ billions,Valuation date,Industry,Country,Year_x,GDP (Million USD),Year_y
0,SpaceX,210,June 2024 [20],Aerospace,United States,2024,26854599,2023
1,OpenAI,80-90,September 2023[21],Artificial intelligence,United States,2023,26854599,2023
2,Shein,66,May 2023 [13],E-commerce,China,2023,19373586,2023
3,Databricks,43,September 2023[13],Software,United States,2023,26854599,2023
4,Anthropic,20-30,October 2023 [22],Artificial Intelligence,United States,2023,26854599,2023
...,...,...,...,...,...,...,...,...
477,OneCard,1.4+,July 2022[593],Financial technology,India,2022,3736882,2023
478,Neo Financial,1,May 2022[594],Financial technology,Canada,2022,2089672,2023
479,Physics Wallah,1.1,June 2022[595],Educational technology,India,2022,3736882,2023
480,Stytch,1,November 2021[596],Cybersecurity,United States,2021,26854599,2023
481,YouniteD,1.1,December 2022[598],Financial services,France,2022,2923489,2023

# Single country Analysis

In [131]:
df_single.value_counts("Industry")

Industry
Financial technology       63
Software                   44
E-commerce                 29
Cybersecurity              20
Artificial intelligence    19
                           ..
Home improvement            1
Computer storage            1
Consumer electronics        1
Consumer finance            1
3D printing                 1
Name: count, Length: 155, dtype: int64

In [130]:
df_single.value_counts("Country")

Country
United States           220
China                    81
India                    66
France                   30
United Kingdom           29
Israel                   20
Canada                   19
South Korea              18
Germany                  15
Japan                    12
Indonesia                10
Brazil                   10
Sweden                    8
Mexico                    7
Singapore                 6
Hong Kong                 5
Turkey                    5
Australia                 5
United Arab Emirates      4
Belgium                   3
Philippines               3
Spain                     2
United States[72]         2
Norway                    2
Argentina                 2
Lithuania                 2
Denmark                   2
Bangladesh                2
Austria                   2
Malaysia                  1
Luxembourg                1
Nigeria                   1
Latvia                    1
Seychelles                1
Georgia                   1
Czech Republic            1
Croatia                   1
Colombia                  1
Chile                     1
Bulgaria                  1
Vietnam                   1
Name: count, dtype: int64

# Mixed Country Analaysis

In [ ]:
## needs cleaning in country column for []